*{
	margin: 0;
	padding: 0;
}
.container{
	width:100;
	height:100vh;
	background-color: rgb(0,0,0);
}
h1{
	color: white;
	text-shadow: 3px 3px 3px red;
	text-align: center;
	font-size: 2.5em;
}
.encabezado{
	width: 98%;
	background-color: rgba(200, 200, 200,0.4);
}
.before_1, .after_1{
	background-color: rgba(200,200, 200,0.4);
}
.encabezado_pie{
	font-size: 1.9em;
	font-weight: bold;
	width: 9.75%;
	display: inline-block;
	text-align: center;
}
.file_impar{
	width: 100%;
	height: 8.6vh;
}
.file_1{
	display: inline-block;
	width: 9.6%;
	text-align: center;
}
.espacio1, .espacio3, .espacio5, .espacio7, .espacio9{
	background-color: white;
	display: inline-block;
	width: 9.6%;
	height: 8.6vh;
}
.before_1, .after_1{
	display: inline-block;
	width: 9.54%;
	font-size: 2em;
	height: 8.6vh;
	font-weight: bold;
}
.before_1{
	float: left;
}
.after_1{
	float: right;
	margin-right: 27px;
}